__pycache__/
celerybeat-schedule.db

.DS_Store

.env*
!.env.example

.vercel
*.tsbuildinfo

next-env.d.ts
.next/
.next-dev/

npm-debug.log*
node_modules/

build/
out/

redis-dev-data/

__debug*

.vite/
